{% if gitlab_version == '' or gitlab_version is version('15.10', '>=') %}
        virtual_storage: [
                {
                    name: 'gitaly',
                    node: [
                    {% for ip in gitaly_addrs %}
                        {
                        storage: 'gitaly-{{ loop.index }}',
                        address: "tcp://{{ ip }}:8075",
                        token: '{{ praefect_internal_token }}'
                        },
                    {% endfor %}
                ],
            },
        ],
    }
{% else %}
praefect['virtual_storages'] = {
   'gitaly' => {
       'nodes' => {
            '{% for ip in gitaly_addrs %}
            'gitaly-{{ loop.index  }}' => {
                'address' =>  "tcp://{{ ip }}:8075",
                'token'   => "{{ praefect_internal_token }}"
            },
            {% endfor %}
         }
    }
}
{% endif %}