# DB config
postgresql['listen_address'] = '0.0.0.0'
postgresql['port'] = 5432
#postgresql['md5_auth_cidr_addresses'] = %w(10.128.20.0/24)
#postgresql['trust_auth_cidr_addresses'] = %w(127.0.0.1/24)
postgresql['md5_auth_cidr_addresses'] = {{ postgres_md5_auth_cidr_blocks }}
postgresql['trust_auth_cidr_addresses'] = {{ postgres_trust_auth_cidr_blocks }}
#postgresql['sql_user'] = "gitlab"

##! SQL_USER_PASSWORD_HASH can be generated using the command `gitlab-ctl pg-password-md5 gitlab`,
##! where `gitlab` is the name of the SQL user that connects to GitLab.
#postgresql['sql_user_password'] = "7515e988c1923071b5c01e9c7d32dddf"
postgresql['sql_user_password'] = "{{ (postgres_password + 'gitlab') | md5 }}"

# force ssl on all connections defined in trust_auth_cidr_addresses and md5_auth_cidr_addresses
#postgresql['hostssl'] = true


#gitlab_rails['db_host'] = '127.0.0.1'
#gitlab_rails['db_port'] = 5432
#gitlab_rails['db_username'] = "gitlab"
#gitlab_rails['db_password'] = "PRAEFECT_SQL_PASSWORD"
gitlab_rails['db_host'] = "{{ postgres_host }}"
gitlab_rails['db_port'] = '{{ postgres_port }}'
gitlab_rails['db_username'] = '{{ postgres_username }}'
gitlab_rails['db_password'] = '{{ postgres_password }}'
gitlab_rails['db_database'] = '{{ postgres_database_name }}'

gitlab_rails['auto_migrate'] = {{ run_migrations }}

