# Disable all other services on the Praefect node
postgresql['enable'] = false
redis['enable'] = false
nginx['enable'] = false
alertmanager['enable'] = false
prometheus['enable'] = false
grafana['enable'] = false
puma['enable'] = false
sidekiq['enable'] = false
gitlab_workhorse['enable'] = false
gitaly['enable'] = false

# Enable only the Praefect service
praefect['enable'] = true

# Prevent database connections during 'gitlab-ctl reconfigure'
gitlab_rails['auto_migrate'] = false
praefect['auto_migrate'] = false

# Gialy configuration, format depends on version

# Gitaly Config
{% if gitlab_version == '' or gitlab_version is version('15.10', '>=') %}
    praefect['configuration'] = {
    listen_addr: '0.0.0.0:2305',
    
    database: {
        ## Basic No PgBouncer config
        host: "{{ postgres_host }}", 
        port: {{ postgres_port }}, 
        user: '{{ praefect_postgres_username }}',
        password: "{{ (praefect_postgres_password + 'praefect') | md5 }}", 
        dbname: '{{ praefect_database_name }}',
        sslmode: 'disable',
    },
    } # End of DB config
{% else %}
    praefect['listen_addr'] = '0.0.0.0:2305'

    ## Basic No PgBouncer config
    praefect['database_host'] = "{{ postgres_host }}",
    praefect['database_port'] = {{ postgres_port }}
    praefect['database_user'] =  '{{ praefect_postgres_username }}'
    praefect['database_password'] = "{{ (praefect_postgres_password + 'praefect') | md5 }}"
    praefect['database_dbname'] = {{ praefect_database_name }}'
    # By default, Praefect refuses to make an unencrypted connection to PostgreSQL. You can override this by uncommenting the following line:
    praefect['database_sslmode'] = 'disable'
{% endif %}