# Disable all other services on the Praefect node
postgresql['enable'] = false
redis['enable'] = false
nginx['enable'] = false
grafana['enable'] = false
puma['enable'] = false
sidekiq['enable'] = false
gitlab_workhorse['enable'] = false
prometheus_monitoring['enable'] = false
gitlab_kas['enable'] = false

# Enable only the Gitaly service
gitaly['enable'] = true

# Enable Prometheus if needed
prometheus['enable'] = true

# Disable database migrations to prevent database connections during 'gitlab-ctl reconfigure'
gitlab_rails['auto_migrate'] = false

gitlab_rails['internal_api_url'] = '{{ gitaly_internal_api_url }}'


gitlab_shell['secret_token'] = '{{gitlab_shell_secret_token}}'

# Gialy configuration, format depends on version

# Gitaly Config
{% if gitlab_version == '' or gitlab_version is version('15.10', '>=') %}
    gitaly['configuration'] = {
    listen_addr: '0.0.0.0:8075',
    prometheus_listen_addr: '0.0.0.0:9236',
    {% if 'praefect' in groups %}
        auth: {
            token: '{{ praefect_internal_token }}',
        },
        storage: [
            {
            name: 'gitaly-{{ gitaly_number }}',
            path: '{{ gitaly_cluster_storage_path }}/repositories'
            }
        ],
    }
    {% endif %}
{% else %}
    gitaly['auth_token'] = 'PRAEFECT_INTERNAL_TOKEN'
    git_data_dirs({
      'gitaly-{{ gitaly_number }}', => {
         "path" => {{gitaly_cluster_storage_path}}
    })

{% endif %}